@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

.clock-container * {
    font-family: "Roboto Condensed", serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
}

* {
    color: RGB(189, 147, 249);
}


.container {
    background-color: RGB(40, 42, 54);
}

/* .container .navbar {} */

.container .navbar .navbar-button {
    letter-spacing: 1px;
    transition: 1000ms;
}

.container .navbar .navbar-button:hover {
    /* transform: scale(1.2); */
    text-shadow: 0px 0px 10px rgba(255, 255, 0, 1);
    transition: 200ms;
    color: rgb(255, 121, 198);
}

/* .container .navbar .navbar-switch {} */

/* .container .navbar .navbar-switch:hover {} */

/* .container .navbar .navbar-styles{} */


.clock-container {
    border-radius: 3em;
}

.clock-container * {
    color: RGB(189, 147, 249);
    font-size: 40rem;
    background-color: RGB(68, 71, 90);
    border-radius:3rem;
    margin: 2rem;
    padding: 1rem;
    border: 10px solid RGB(255, 121, 198);
    box-shadow: 10px 10px 50px rgba(243, 96, 228, 0.7);
}