* {
    font-family: Arial, sans-serif;
}
html, body {
    margin: 0px;
    overflow: hidden;
}

.container {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container .navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.container .navbar .navbar-button {
    background-color: transparent;
    border: none;
    font-size: 1.2em;
    font-weight: 100;
    margin-right: 3em;
    cursor: grab;
    padding: 1em 2em 1em 2em;
}

.container .navbar .navbar-switch {
    margin-left: 3em;
}

.container .navbar .navbar-styles{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    margin-right: 5em;
}

.clock-container {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.clock-container * {
    font-size: 30rem;
    margin: 0.5rem;
    line-height: 1;
    cursor: alias;
}

/* .sep {
    margin: 0px;
    padding: 0px;
    transform: translate(-0%, -5%);
} */